{% extends 'base.html' %}

{% block content %}
  <div class="container" style="height: 100vh">
    <div class="row h-100 justify-content-center align-items-center">
      <form action="" method="POST"
            style="width: 322px; padding: 20px">
        {{ form.csrf_token }}
        <h3 class="text-center">Войти в аккаунт</h3>
        {% with errors = get_flashed_messages(category_filter=["login-error"]) %}
          {% for error in errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}
        {% endwith %}
        <div class="form-group">
          {{ form.username.label(class="sr-only") }}
          {{ render_field_with_validation_classes(form.username, class="form-control", autofocus="") }}
          {% for error in form.username.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.password.label(class="sr-only") }}
          {{ render_field_with_validation_classes(form.password, class="form-control") }}
          {% for error in form.password.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        </div>
        <div class="form-group">
          <div class="form-check">
            {{ render_field_with_validation_classes(form.remember_me, class="form-check-input") }}
            {{ form.remember_me.label(class="form-check-label") }}
            {% for error in form.remember_me.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          </div>
        </div>
        <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрироваться</a></p>
        <button type="submit" class="btn btn-primary">Войти</button>
      </form>
    </div>
  </div>
{% endblock %}