{% extends 'base.html' %}
{% import 'components.html' as components %}

{% block content %}
  <div class="container" style="margin-top: 70px">
    <h1>{{ user.username }}</h1>
    <p>
      Часто писал публикации с этими тегами:
      {% for tag in most_used_tags %}
        {{ components.tag_view(tag) }}
      {% endfor %}
    </p>
    <h3>Посты пользователя</h3>
    {{ components.pagination(pagination, 'profile', user_id=user.id) }}
    {% for post in pagination.items %}
      {{ components.post_preview(post) }}
    {% endfor %}
    {{ components.pagination(pagination, 'profile', user_id=user.id) }}
  </div>
{% endblock %}