{% extends 'base.html' %}

{% from 'components.html' import pagination_view, tag_view, post_preview, subscribe_button with context %}

{% block content %}
  <div class="container" style="margin-top: 70px">
    <h1>{{ user.username }} {% if current_user != user %}
      {{ subscribe_button(user) }}
    {% endif %}</h1>
    <p>
      Часто писал публикации с этими тегами:
      {% if most_used_tags %}
        {% for tag in most_used_tags %}
          {{ tag_view(tag) }}
        {% endfor %}
      {% else %}
        Пользователь еще не использовал ни одн тег
      {% endif %}
    </p>
    <h3>Посты пользователя</h3>
    {% if pagination.pages > 1 %}
      {{ pagination_view(pagination, 'profile', user_id=user.id) }}
    {% endif %}
    {% if pagination.items %}
      {% for post in pagination.items %}
        {{ post_preview(post) }}
      {% endfor %}
    {% else %}
      <p>Похоже, у пользователя еще нет публикаций</p>
    {% endif %}
    {% if pagination.pages > 1 %}
      {{ pagination_view(pagination, 'profile', user_id=user.id) }}
    {% endif %}
  </div>
{% endblock %}